body {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
}

.next button,
.prev button {
    background: none;
    border: none;
}

#avatar-drop {
    text-align: center;
}

.days button {
    border: none;
    background: none;
}

#avatar-drop .dropdown-item {
    padding: 0px;
    width: 100px;
    margin-left: 40px;
}

#navbar .img-circle {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 8px;
    right: 20px;
    /* z-index: 999999; */
}

#first-slideshow {
    margin-top: 100px;
}

#video-first {
    margin-top: 100px;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky+.content {
    padding-top: 60px;
}

.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-header.col {
    /* margin-top: 15px; */
    padding: 0 !important;
}

.navbar {
    /* overflow: hidden; */
    background: #fdcc3b;
    padding-left: 16px;
    padding-right: 16px;
    /* border-bottom: 1px solid #dfe3e8; */
    border-radius: 0;
    border: none;
    height: 60px;
}

.nav-link {
    /* z-index: 1; */
    color: white !important;
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

.navbar .navbar-brand b {
    font-weight: bold;
    color: #f60;
}

.navbar .form-inline {
    display: inline-block;
}

.navbar .nav li {
    /* margin-top: 15px; */
    position: relative;
}


/* .navbar .nav li a {
    color: #888;
} */

.search-box {
    /* margin-top: 15px; */
    position: relative;
}

.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}

.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
    color: #fff;
    background: #f60;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}

.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
    color: #fff;
    outline: none;
    background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.open>a {
    background: transparent !important;
}

.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar ul.nav li.open>a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}

.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}

.navbar .navbar-form {
    border: none;
}

.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.navbar .dropdown-menu.form-wrapper a {
    color: #33cabb;
    padding: 0 !important;
}

.navbar .dropdown-menu.form-wrapper a:hover {
    text-decoration: underline;
}

.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.navbar .social-btn .btn-primary {
    background: #507cc0;
}

.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}

.navbar .social-btn .btn-info {
    background: #64ccf1;
}

.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}

.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

.navbar .form-wrapper .form-footer a:hover {
    text-decoration: underline;
}

.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}

.navbar .checkbox-inline {
    font-size: 13px;
}

.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary,
    .navbar .nav .btn-primary:active {
        display: block;
    }
}


/*----------------- Menu ----------------- */

.nav-menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f60;
}

.menu {
    padding: 0px 45px;
}

.menu li {
    display: inline;
    margin-right: 53px;
}

ul .last-item {
    margin: 0px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu li i {
    margin-right: 7px;
}

.carousel {
    width: 65%;
    height: 30%;
}

.thenew {
    border: 1px solid black;
    width: 30%;
    /* height: 30%; */
}

.item-new {
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}

.item-new img,
.new-body {
    margin-left: 10px;
}

.new-title {
    position: relative;
    /* top: -15px; */
}

.new-time {
    position: relative;
    /* top: -45px; */
}

.now-play {
    margin-top: 50px;
}

.now-title .play-title {
    color: #f60;
}

.row .carousel {
    width: 100%;
}

.slide-box {
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.slide-box img {
    width: 200px;
    height: 250px;
    margin-right: 20px;
    border-radius: 5px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

.middle {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    position: relative;
    top: -80px;
    width: 200px;
}

.text {
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #f60;
    color: white;
    font-size: 16px;
    /* padding: 16px 32px; */
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.text1 {
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #f60;
    color: white;
    font-size: 16px;
    /* padding: 16px 32px; */
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.middle a {
    text-decoration: none;
    color: white;
}

.middle a i {
    margin-right: 10px;
}

.product-slide:hover img {
    opacity: 0.3;
}

.product-slide:hover .middle {
    opacity: 1;
}

.row .carousel-control-prev {
    position: absolute;
    top: 120px;
    left: -50px;
    height: 30px;
    width: 30px;
    background-color: black;
}

.row .carousel-control-next {
    position: absolute;
    top: 120px;
    right: -30px;
    height: 30px;
    width: 30px;
    background-color: black;
}

.video {
    width: 100%;
    height: 400px;
}

.head-card .card {
    border: none;
    margin-right: 50px;
    height: 200px;
}

.img-circle {
    height: 150px;
    width: 150px;
}


/* -----------------ORDER----------------- */

#mostview {
    height: 100px;
    overflow: auto;
}

.hr-order {
    border-top: 2px solid #f60;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #f60;
    text-align: center;
}

ul {
    list-style-type: none;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #f60;
    color: white !important
}


/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

.table {
    border: 1px solid #dacfcf;
}

.cinema-chose {
    display: flex;
}

.list-city {
    width: 200px;
}

.list-cinema {
    width: 500px;
    margin-left: 50px;
}

.list-cinema button {
    margin-right: 20px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.list-cinema .btn-group {
    display: flex;
    flex-wrap: wrap;
}

.view-most {
    width: 300px;
}

.num-rated {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 4px;
    background: red;
    /* border: 2px solid #666; */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.tr-footer span {
    font-weight: bold;
}

.btn-footer button {
    background-color: #f60;
}

.list-screen {
    display: flex;
    flex-wrap: wrap;
}

.screen {
    width: 200px;
    text-align: center;
    background-color: #f9f5f5;
    border: 1px solid #dacfcf;
    margin-left: 20px;
    margin-bottom: 20px;
}

.screen p {
    border-bottom: 1px solid #dacfcf;
}

.screen:hover {
    background-color: gray;
}

.not-border {
    border: none;
}

.design-screen {
    width: 80%;
    background-color: #ddded2;
    margin-left: 100px;
}

.seat-screen {
    margin-top: 50px;
    margin-left: 250px;
}

.stt-screen {
    /* margin-right: 50px; */
    width: 50px;
}

.item-screen {
    display: flex;
    margin-bottom: 10px;
}

.item-screen button {
    border: none;
    margin-left: 5px;
    width: 40px;
}


/* .item-screen .abc:hover {
    background-color: #5e6165;
    color: white;
} */


/* .item-screen .active {
    background-color: #5e6165;
    color: white;
} */

.seat-vip button {
    background-color: #f60;
}

.seat-couple button {
    background-color: pink;
}

.title-seat {
    margin-top: 30px;
    margin-left: 15%;
}

.title-seat button {
    border: none;
    width: 40px;
    height: 25px;
    margin-right: 20px;
}

.title-seat span {
    margin-right: 20px;
}


/* .seat-selected {
    background-color: #5e6165;
} */

.seat-can {
    background-color: #5e6165;
}

.seat-bought {
    background-color: red;
}

.vip-seat {
    background-color: #f60;
}

.couple-seat {
    background-color: pink;
}

.title-seat .nomal-seat {
    border: 1px solid gray;
}

.title-seat {
    width: 80%;
}

.name-seat {
    margin-left: 100px;
    margin-top: 20px;
}

.bottom-btn-next button {
    float: right;
    width: 100px;
}

.card-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-product {
    margin-left: 100px;
}

.card-product .card {
    margin-bottom: 20px;
    margin-right: 50px;
}

.bottom-order {
    margin-top: 50px;
}

.btn-comple {
    float: right;
    border: none;
    background-color: #f60;
    color: white;
    padding: 10px;
}

.ticket-movie {
    display: flex;
    justify-content: flex-start;
}

.ticket-movie-title {
    padding: 5px;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

.modal-content {
    position: relative;
    left: -300px;
    width: 850px;
}

.ticket-movie-name {
    border-left: 1px solid #5e6165;
}

.ticket-movie-total {
    width: 200px;
    border-left: 1px solid #5e6165;
    border-right: 1px solid #5e6165;
}

.price-ticket {
    font-size: large;
    margin-left: 100px;
}

.info-ticket-div {
    display: flex;
}

.info-div {
    width: 70px;
}

.info-pro {
    width: 100px;
}

.price-product {
    font-size: large;
    position: absolute;
    top: 185px;
    margin-left: 100px;
}


/* ------------------------FOOTER--------------------- */

#myFooter {
    font-size: 13px;
    background-color: #3a3f46;
    color: white;
    margin-top: 60px;
}


/* #myFooter .row {
    margin-bottom: 60px;
} */

#myFooter .info {
    /* text-align: justify; */
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}


/* @media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .info {
        text-align: center;
    }
} */


/* CSS used for positioning the footers at the bottom of the page. */


/* You can remove this. */

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


/* ----------------Detail video---------- */

.detail-video {
    margin-top: 30px;
}